@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding: 20px 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

section > p {
    padding: 20px 20px;
    text-align: justify;
    text-indent: 20px;
    font-weight: bold;
}

.normal {
    background-image: url('imagens/background002.jpg');
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.imagem {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    color: white;
}

