@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
.normal {
    background-image: url('imagens/background002.jpg');
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.imagem {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

